/*Custom Fonts*/
@font-face {
    font-family: "Sacramento";
    src: url(Sacramento-Regular.ttf);
}
/* TAGS */
a{
    color: #F2F5D3;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
}

body{
    background-color: #F2F5D3;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.5;
    color: #30282e;
    font-size: 1.5rem;
}

ul{
    list-style-type: none;
}

h3{
    font-weight: 200;
    font-size: 3rem;
    text-align: center;
}

img{
    display: block;
    left: 0;
    top: 4.2em;
    z-index:-1;
    padding: 1rem;
    height: auto;
    width: 100%;    
}

/* CLASSES */
.afarrugia{
    font-size: 4rem;
    font-weight: bold;
    font-family: sacramento;
}

.intro{
    text-align: right;
    font-size: 1.5vw ;
    margin-top: 5rem;
    height: auto;
    width: 100%;
}

.button{
    background-color: #C6C9BD;
    color: #FFF;
    border: none;
    border-radius: .25em;
    padding: 0.5em .75em;
}

.button:hover{
    background-color: #d7dabd;
    color: #FFF;

}
.navbar{
    border-bottom: 3px solid #30282e;
    padding: .5rem;
}

.navbar .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-nav{
    display: flex;
    list-style: none;
    padding: 0;
}

.navbar-nav li{
    padding: 0.5em;
    margin: 0 0.5em;
}

.Gallery{
    font-family: sacramento;
    font-size: 4rem;
}

/*Off-screen-menu*/
.off-screen-menu{
    background-color: #30282e;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: 0.3s ease;
}

.off-screen-menu.active{
    right: 0;
}
.ham-menu{
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
}

.ham-menu span{
    height: 5px;
    width: 100%;
    background-color: #30282e;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: 0.3s ease;
    transform: translate(-50%, -50%)
}
.ham-menu span:nth-child(1){
    top: 25%;
}
.ham-menu span:nth-child(3){
    top: 75%;
}

.ham-menu.active span:nth-child(1){
    top: 50%;
    background-color: #F2F5D3;
}

.ham-menu.active span:nth-child(2){
    top: 50%;
    background-color: #F2F5D3;
}

.ham-menu.active span:nth-child(3){
    top: 50%;
    background-color: #F2F5D3;
}

/*Home Page Images*/
.ahomeimage{
    position: absolute;
    display: block;
    left: 0;
    top: 4.2em;
    z-index:-1
}

/*Gallery*/
.gallery-nav {
    display: flex;
    list-style: none;
    margin: 1rem 0 0;
    padding: 0;
    justify-content: center;
}

.gallery-overlay {
    background-color: rgba(0, 0, 0, .95);
    opacity: 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    pointer-events: none;
    transition: all .2s ease;
}

.gallery-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
}

.gallery-image {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.gallery-overlay:target {
    opacity: 1;
    pointer-events: all;
}

/*Contact Form*/

.formbtn{
    padding: 0.3rem;
    background-color: #30282e;
    border: none;
    box-shadow: 1cm;
    color: #d7dabd;
    border-radius: 15%;
}

.contactform{
    background-color: #a4a791;
    border-color: #30282e;
    border-style: solid;
}

.contactimg{
    padding: 0;
    height: auto;
    width: 100%;
    justify-items: center;
}

/*Tips pg*/
.tipsbanner{
    background-color: #30282e;
    margin: 0;
    border: 0;
    width: 20rem;
    height: 100vh;
}

.marginignore{
    margin: 0;
    border: 0;
    padding: 0;
}

.tipstext{
    text-align: center;
    padding: 2rem;
}

.links{
    padding: 1rem 2rem;
    text-align: center;
}

