/* TAGS */
a{
    color: #30282e;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
}

body{
    background-color: #30282e;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.5;
    color: #F2F5D3;
}

ul{
    list-style-type: none;
}

img{
    position: absolute;
    display: block;
    left: 0;
    top: 4.2em;
    z-index:-1;
    padding: 2rem;
    height: auto;
    width: 1500px;    
}

/* CLASSES */
.afarrugia{
    font-size: larger;
    font-weight: bold;
}

.intro{
    text-align: right;
    right: 0;
    font-size: 2rem;
}

.button{
    background-color: #C6C9BD;
    color: #FFF;
    border: none;
    border-radius: .25em;
    padding: 0.5em .75em;
}

.button:hover{
    background-color: #d7dabd;
    color: #FFF;

}
.navbar{
    border-bottom: 3px solid #F2F5D3;
    padding: .5rem;
}

.navbar .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-nav{
    display: flex;
    list-style: none;
    padding: 0;
}

.navbar-nav li{
    padding: 0.5em;
    margin: 0 0.5em;
}

/*Off-screen-menu*/
.off-screen-menu{
    background-color: #babda5;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: 0.3s ease;
}

.off-screen-menu.active{
    right: 0;
}
.ham-menu{
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
}

.ham-menu span{
    height: 5px;
    width: 100%;
    background-color: #C6C9BD;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: 0.3s ease;
    transform: translate(-50%, -50%)
}
.ham-menu span:nth-child(1){
    top: 25%;
}
.ham-menu span:nth-child(3){
    top: 75%;
}

.ham-menu.active span:nth-child(1){
    top: 50%;
    background-color: #30282e;
}

.ham-menu.active span:nth-child(2){
    top: 50%;
    background-color: #30282e;
}

.ham-menu.active span:nth-child(3){
    top: 50%;
    background-color: #30282e;
}

/*Home Page Images*/
.ahomeimage{
    position: absolute;
    left: 0;
    top: 4.2em;
    z-index:-1
}