/* TAGS */
a{
    color: #F2F5D3;
    text-decoration: none;
}

a:hover {
    color: #babda5;
}

body{
    background-color: #483C46;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

/* CLASSES */
.button{
    background-color: #C6C9BD;
    color: #FFF;
    border: none;
    border-radius: .25em;
    padding: 0.5em .75em;
}

.button:hover{
    background-color: #d7dabd;
    color: #FFF;

}
.navbar{
    border-bottom: 1px solid #F2F5D3;
    padding: .5rem;
}

.navbar .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-nav{
    display: flex;
    list-style: none;
    padding: 0;
}

.navbar-nav li{
    padding: 0.5em;
    margin: 0 0.5em;
}
